apiVersion: v1
kind: Service
metadata:
  name: mediassist-backend-service
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30000

---

# Postgres Service
apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432

---

# Qdrant Service
apiVersion: v1
kind: Service
metadata:
  name: qdrant-svc
spec:
  selector:
    app: qdrant
  ports:
    - port: 6333
      targetPort: 6333

---

# Ollama Service
apiVersion: v1
kind: Service
metadata:
  name: ollama-svc
spec:
  selector:
    app: ollama
  ports:
    - port: 11434
      targetPort: 11434

---

# MLflow Service
apiVersion: v1
kind: Service
metadata:
  name: mlflow-svc
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000